/* magnify */
.magnify.icon {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  color: #000;
  border: 1px solid currentColor;
  transform: rotate(-45deg);
}
.magnify.icon:before{
  content: '';
  position: absolute;
  height: 6px;
  width: 1px;
  top: 12px;
  left: 6px;
  background-color: currentColor;
}
.magnify.icon i {
  position: absolute;
  left: 4px;
  top: 4px;
  transform: rotate(45deg);
}
.magnify.icon i::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: currentColor;
}
.magnify.icon i:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(90deg);
}

/* minify */
.minify.icon {
  color: #000;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid currentColor;
  transform: rotate(-45deg);
}
.minify.icon:before{
  content: '';
  position: absolute;
  height: 6px;
  width: 1px;
  top: 12px;
  left: 6px;
  background-color: currentColor;
}
.minify.icon:after{
  content: '';
  position: absolute;
  height: 6px;
  width: 1px;
  top: 3px;
  left: 5px;
  transform: rotate(-45deg);
  background-color: currentColor;
}

/* close */
.close.icon {
  color: #000;
  width: 12px;
  height: 12px;
}
.close.icon:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(-45deg);
  top: 8px;
}
.close.icon:after {
  content: '';
  position: absolute;
  width: 17px;
  height: 1px;
  background-color: currentColor;
  transform: rotate(45deg);
  top: 8px;
}

/* plus */
.plus.icon {
  color: #000;
  width: 12px;
  height: 12px;
}
.plus.icon:before {
  content: '';
  height: 1px;
  width: 17px;
  background: currentColor;
  position: absolute;
  top: 8px;
}
.plus.icon:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 17px;
  background: currentColor;
  transform: rotate(90deg);
  top: 8px;
}
